{% extends 'base.html' %}
{% load static %}

{% block header %}

<title>Edituser</title>
<style>
    .container-fluid input {
        margin-top: 0.3rem;
        margin-bottom: 0.6rem;
        width: 220px;
    }
</style>

{% endblock %}
{% block main %}

<main>
    <div class="container-fluid">
        <h1 style="margin-bottom: 2rem; font-size: x-large; font-weight: 700;">회원정보수정</h1>
        <form method="POST" action="{% url 'updateuser' %}">
            {% csrf_token %}
            아이디:
            <br>
            <input name="userID" type="text" placeholder="{{user.username}} [수정불가]" readonly>
            <br>
            비밀번호:
            <br>
            <input name="password1" type="password" placeholder="[수정불가]" readonly>
            <br>
            비밀번호 확인:
            <br>
            <input name="password2" type="password" placeholder="[수정불가]" readonly>
            <br>
            <br>
            <h5 style="font-weight: 500;">아래 필드를 수정해주세요!</h5><br>
            닉네임:
            <br>
            <input name="name" type="text" value="{{user.profile.name}}">
            <br>
            생년월일:
            <br>
            <div style="width: 220px;">
                <input name="birthday" class="form-control" style="margin-bottom: 0 !important;" type="date" value='{{user.profile.birthday|date:"Y-m-d"}}'>
            </div>
            <br>
            전화번호 (공백없이숫자만):
            <br>
            <input name="number" type="tel" pattern="[0-9]{3}[0-9]{4}[0-9]{4}" value="{{user.profile.number}}">
            <br>
            이메일:
            <br>
            <input name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z]+.+[a-z]"
                value="{{user.profile.email}}">
            <br>
            MBTI:
            <br>
            <select name="mbti" style="width:220px; height:30px;">
                <option id="ISTJ" value="ISTJ">ISTJ</option>
                <option id="ISFJ" value="ISFJ">ISFJ</option>
                <option id="INFJ" value="INFJ">INFJ</option>
                <option id="INTJ" value="INTJ">INTJ</option>
                <option id="ISTP" value="ISTP">ISTP</option>
                <option id="ISFP" value="ISFP">ISFP</option>
                <option id="INFP" value="INFP">INFP</option>
                <option id="INTP" value="INTP">INTP</option>
                <option id="ESTP" value="ESTP">ESTP</option>
                <option id="ESFP" value="ESFP">ESFP</option>
                <option id="ENFP" value="ENFP">ENFP</option>
                <option id="ENTP" value="ENTP">ENTP</option>
                <option id="ESTJ" value="ESTJ">ESTJ</option>
                <option id="ESFJ" value="ESFJ">ESFJ</option>
                <option id="ENFJ" value="ENFJ">ENFJ</option>
                <option id="ENTJ" value="ENTJ">ENTJ</option>
            </select>
            <br>
            <br>
            <div id="submit" style="display: flex; flex-direction: row; justify-content: flex-end;">
                <input type="submit" class="btn btn-outline-dark" style="width:auto !important; " value="수정하기">
            </div>
        </form>
    </div>

</main>
<script>
    window.onload = function(){
        var mbti = "{{ user.profile.mbti }}";
        var selected = document.getElementById(mbti);
        selected.setAttribute("selected", "True");
    }
</script>
{% endblock %}