{% extends 'base.html' %}
{% block main %}
<style>
#description{
    padding-bottom: 20px;
}
#title{
    font-size: 30px;
    margin: 10px;
    padding: 15px;
}
p{
    margin: 20px;
}
#area{
    border: 1px solid #c3b091;
    text-align: center;
}
#question_area{
    font-size:20px;
    padding-top: 30px;
}
#option_area{
    padding-bottom: 30px;
}
</style>
<div class = "container-fluid">
    <div id="description">
        <div id="title">당신은 어떤 사람인가요?</div>
        <p>* 위 검사는 나의 성향과 맞는 멘토스를 찾기 위한 검사입니다.<br>총 <strong>20문항</strong>으로 구성되어 있으며, <strong>2-3분</strong> 정도 소요됩니다.</p>
    </div>
    <!--이 위치에 사진 같은거 있으면 좋을 것 같음-->
    <div id="area" class="card-body">
        <div id="question_area">
        </div>
        <br>

        <div id="option_area">
        </div>
    </div>
    <form method="post" action="{% url 'only_result' %}" id="mbti">
        {% csrf_token %}
        <input type="hidden" name="result">
    </form>
</div>

<script type="text/javascript">
    var intro = {{intro|safe}};
    var question = {{question|safe}};
    var option1 = {{option1|safe}};
    var option2 = {{option2|safe}};
    
    var question_area = document.getElementById("question_area");
    var option_area = document.getElementById("option_area");
    
    var mbti = [0, 0, 0, 0];
    var question_gap = question.length / 4;
    var side1 = ['I', 'N', 'F', 'P'];
    var side2 = ['E', 'S', 'T', 'J'];

    function calculate(){
        var result = "";
        for (var i=0; i<4; i++){
            if (mbti[i] <= 0){
                result += side1[i];
            }
            else{
                result += side2[i];
            }
        }
        return result;
    }

    function next(){
        question_area.innerHTML = "<strong>Q.&nbsp;</strong>" + question[index];
        var option_1 = '<button class="btn btn-outline-dark" id="option1_area" type="button">' + option1[index][0] + '</button>';
        var option_2 = '&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-dark" id="option2_area" type="button">' + option2[index][0] + '</button>';
        option_area.innerHTML = option_1 + option_2;

        var option1_area = document.getElementById('option1_area');
        var option2_area = document.getElementById('option2_area');
        option1_area.addEventListener("click", function(){change(this.id)});
        option2_area.addEventListener("click", function(){change(this.id)});
    }
    
    function introduction(){
        question_area.innerHTML = "<p>" + intro[parseInt(index/question_gap)] + "</p>";
        option_area.innerHTML = '<button class="btn btn-outline-dark" id="next_round" type="button">next!</button>';
        var next_round = document.getElementById("next_round");
        next_round.addEventListener("click", function(){next()});
    }

    function change(clicked_area){
        switch(clicked_area){
                case 'option1_area':
                    mbti[parseInt(index/question_gap)] += option1[index][1];
                    break;
                case 'option2_area':
                    mbti[parseInt(index/question_gap)] += option2[index][1];
                    break;
        }
        if (index >= question.length - 1){
            var result = calculate();   
            input = document.getElementsByName("result")[0]
            input.setAttribute("value", result);
            form = document.getElementById("mbti")
            form.submit();
            return;
        }

        index += 1;

        if ((index % question_gap) == 0){
            introduction();
            return;
        }


        question_area.innerHTML = "<strong>Q.&nbsp;</strong>" + question[index];
        option1_area.innerHTML = option1[index][0];
        option2_area.innerHTML = option2[index][0];
    }

    // initial value
    var index = 0;

    introduction();

</script>
{% endblock %}