{% extends 'base.html' %}
{% load static %}

{% block header %}

<title>All Idea</title>
<link rel="stylesheet" href="{% static 'css/allIdea.css' %}">
<style>
    .bg-dark {
        background-color: #c3b091 !important;
    }

    .sb-sidenav-dark {
        background-color: #c3b091;
    }

    #id1 {
        color: #c3b091;
        font-size: xx-large;
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Light-webfont.woff');
        font-weight: 300;
        font-style: normal;
        text-align: center;
        margin-top: 60px;

    }

    #id2 {
        color: #c3b091;
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Light-webfont.woff');
        font-weight: 300;
        font-style: normal;
        text-align: center;
        font-size: large;
    }

    #id3 {
        color: #c3b091;
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Light-webfont.woff');
        font-weight: 300;
        font-style: normal;
        text-align: center;
    }

    #id4 {
        color: #c3b091;
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Light-webfont.woff');
        font-weight: 300;
        font-style: normal;
        text-align: center;
    }

    .box {
        border: 1px solid #c3b091;
        padding: 20px;
        width: 800px;
        height: 200px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;

    }

    .box:hover {
        background-color: #F2F2F2;
    }
</style>

{% endblock %}
{% block main %}

<main>
    <div class="like">
        <div id="id1"> "{{post.manager.profile.name}}"의 '{{post.title}}'에 모인 멘티 리스트 </div>
        <br>
        {% for idea in ideas %}
        <br>
        <a href="{% url 'contestIdea' post.id idea.id %}">
            <div class="box">
                <div id="id2">제목 : {{idea.title}}

                    {% if idea.selected == True %}
                    (채택됨)</h7>
                    {% endif %}
                </div>
                <br>
                <div id="id3">내용 : {{idea.summary}}</div>
                <div id="id3">작성자 : {{idea.i_writer.profile.name}}</div>
            </div>
        </a>
        <br>
        <br>
        {% endfor %}
    </div>

</main>
{% endblock %}