{% extends 'base.html' %}
{% load static %}

{% block header %}

<title>contestPost</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<link rel="stylesheet" href="{% static 'css/contestPost.css' %}">
<style>
    .card {
        margin-top: 3% !important;
        border: 1px solid #c3b091 !important;
    }

    textarea {
        width: 100%;
        border: 1px solid #c3b091 !important;
        border-radius: 0.25rem;
        padding: 1%;
        /* 카드랑맞춤 */
    }

    textarea::placeholder {
        color: #c3b091;
        font-weight: 400;
    }

    #buttons {
        color: #c3b091;
        background-color: #F2F2F2 !important;
        border: solid white !important;
        margin-top: 1%;
    }

    #comment-button {
        color: #c3b091;
        background-color: #F2F2F2 !important;
        border: solid white !important;
        margin-left: 92%;
        margin-bottom: 2%;
        margin-top: 5px;
    }

    #delete-button {
        color: #c3b091;
        background-color: #F2F2F2 !important;
        border: solid white !important;
    }

    #like {
        color: #c3b091;
    }
    #like_counting{
       color:#c3b091;
    }
</style>

{% endblock %}
{% block main %}
<main>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body" style="padding:25px; padding-top: 35px;">
                <div style="padding-bottom: 10px;">
                    {% for category in categories %}
                    <a href="{% url 'category' c_name=category.category_name %}" class="card-text" style="font-weight:600; color: #C3B091">
                        {{category.category_name}}
                        <!-- {% if category.category_name != '학업' %} & {% endif %}  -->
                    </a>
                    {% endfor %}
                </div>
                <h3 class="card-title">{{post.title}}</h3>
                
                <div class="card-text" style="padding-bottom:20px;">
                    <img style="width: 32px; height: 32px; vertical-align: middle;" src="/static/image/logo.png">
                    <span style="margin-left:10px; margin-top:20px;font-size:18px;" >
                        {{post.manager.profile.name}}
                    </span>
                </div>

                <h6 class="card-subtitle mb-2 text-muted">{{post.updated_at}}</h6>
                <br>
                <pre class="card-text" style="white-space: pre-wrap;">
                    <h5>{{post.content}}</h5>
                </pre>
                <p class="card-subtitle mb-2 text-muted">문의 이메일 : {{post.manager.profile.email}}</p>
                <p class="card-subtitle mb-2 text-muted">나와의 MBTI 케미 : <span style="color: #C3B091; font-weight: bold;":>{{result}}</span></p>
                <br>
                
                <hr class="solid" style="border-top: 1px solid #c3b091;">

                <!--좋아요 기능-->

                <div style="display:flex; font-size: 1.5rem; margin-top: 2rem;" class="good">

                    <div>
                        <a onClick="like({{post.id}})">
                            {% if message == '좋아요취소' %}
                            <span style="color:#c3b091;">
                            <span id="heart" class="fas fa-heart"></span>
                            </span>
                            {% elif message == '좋아요' %}
                            <span style="color:#c3b091;">
                            <span id="heart" class="far fa-heart"></span>
                            </span>
                            {% else %}
                            {% endif %}
                            <span id="like_counting">{{num}}</span>
                            <span style="color: #c3b091;">명이 지켜보는 중입니다.</span>
                            <span id="like" hidden>{{message}}</span>
                        </a>
                    </div>
                </div>
                <br>

                <div style="display:flex; flex-direction: row; justify-content: flex-end;">
                    <div style="display:flex; flex-direction: column;">
                        <div>
                            {% if user.is_authenticated %}
                            {% if post.manager != user %}
                    
                            <a href="{% url 'createIdea' post.id %}"><button type="button" class="btn btn-dark" id="buttons" style=" margin-right: 5px;">멘티 신청</button></a>
                            {% if participate_idea %}
                            <a href="{% url 'contestIdea' post.id participate_idea.id%}"><button type="button" class="btn btn-dark" id="buttons" style=" margin-right: 5px;">신청한 멘티보기</button></a>
                            {% endif%}
                            {% else %}
                            <a href="{% url 'allIdea' post.id%}"> <button type="button" class="btn btn-dark" id="buttons">신청 온 멘티 보기</button></a>
                            <br>
                            {% endif %}
                            {% endif %}
                        </div>
                        <div style="display:flex; flex-direction: row; justify-content: flex-end; margin-top: 5px;">
                            <div style="width: auto; margin-right: 5px;">
                                {% if user == post.manager or user.username == 'admin' %}
                                <a href="#" data-toggle="modal" data-target="#CatModal"><button type="button" class="btn btn-light"
                                        id="buttons">삭제</button>
                                    <ion-icon name="trash"></ion-icon>
                                </a>

                                <div id="CatModal" class="modal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">알림</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>내용을 삭제하시겠습니까?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button onclick="CatDelete()" type="button" class="btn btn-primary">삭제하기</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: auto;">
                                <a href="{%url 'editPost' post.id %}"><button type="button" class="btn btn-light"
                                        id="buttons">수정</button></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--댓글-->
        <div>
            <br>
            {% for comment in comments %}
            <div class="card">
                <div class="card-body" id="comment" style="padding:25px; padding-top: 35px;">
                    <div>
                        <img style="width: 32px; height: 32px; vertical-align: middle;" src="/static/image/logo.png">
                        <span style="margin-left:10px; margin-top:20px;font-size:18px;" >
                            {{comment.c_writer}}
                            {% if comment.c_writer == post.manager %}
                            (멘토)
                            {% endif %}
                        </span>
                    </div>
                    
                    <div style="margin-bottom: 10px; margin-top:10px;">
                    <h5>{{comment.body}}</h5>
                    </div>
                    <div style="color: #C3B091; font-size: 16px;">
                    {{comment.pub_date}}
                    </div>
                    <div style="display:flex; flex-direction: row; justify-content: flex-end;">
                        {% if comment.c_writer == user %}
                        <a href="{% url 'comment_delete' post.id comment.id %}">
                            <button type="button" class="btn btn-dark" id="delete-button">삭제</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <br>
            <!--댓글 달기-->
            <div class="comment">
                <form name="comment" method='POST' action="{% url 'comment_create' post.id %}"
                    onsubmit="return comment_validation()">
                    {% csrf_token %}
                    <textarea placeholder="내용을 입력해주세요." rows=3 name="body" id="comment-value" style="padding:20px;"></textarea>
                    <div style="display:flex; flex-direction: row; justify-content: flex-end;">
                        <input name="rp" class="btn btn-primary" type="submit" value="댓글 달기" id="comment-button">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    function CatDelete() {
        location.replace("/contestPost/delete/{{post.id}}");
    }
    function like(id) {

        $.ajax({
            url: "{%url 'post_like' %}",
            data: {
                'post_id': id,
                'csrfmiddlewaretoken': '{{csrf_token}}',
            },
            dataType: "json",
            success: function (response) {
                console.log(response.message);
                $("#like").replaceWith('<span id="like" hidden>' + response.message + '</span>');
                $("#like_counting").replaceWith('<span id="like_counting">' + response.num + '</span>');
                if (response.message == "좋아요")
                    $("#heart").replaceWith('<span style="color:#c3b091;"><span id="heart" class="far fa-heart"></span></span>');
                else if (response.message == "좋아요취소")
                    $("#heart").replaceWith('<span style="color:#c3b091;"><span id="heart" class="fas fa-heart"></span></span>');
            },
            error: function (request, status, error) {
                // alert("error");
                // alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" +
                //     "error:" + error)

            },
        });
    }
    function comment_validation() {
        const content = document.getElementById('comment-value').value;
        //console.log(content)
        if (content == '') {
            alert('빈칸을 입력해주세요');
            return false
        }
        else {
            return true
        }
    };
</script>

{% endblock %}