{% extends 'base.html' %}
{% load static %}

{% block header %}

<title>Modern Business - Start Bootstrap Template</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<style>
    .container {
        flex-direction: column;
        display: flex;
    }

    #mbti {
        width: 100%;
        height: 100%;
        margin-bottom: 4rem;
        object-fit: contain;
    }

    .col-3 {
        margin: 10px 0px;
    }

    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

    figure.snip1200 {
        font-family: 'Raleway', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 5px;
        min-width: 220px;
        max-width: 310px;
        max-height: 310px;
        width: 100%;
        background: #c3b091;
        color: #ffffff;
        text-align: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        font-size: 16px;
    }

    figure.snip1200 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
    }

    figure.snip1200 img {
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 0.9;
        border-radius: 1%;
        background: #ffffff !important;
    }

    figure.snip1200 figcaption {
        position: absolute;
        top: 45%;
        left: 7%;
        right: 7%;
        bottom: 45%;
        border: 1px solid white;
        border-width: 1px 1px 0;
    }

    figure.snip1200 .heading {
        overflow: hidden;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    figure.snip1200 h2 {
        display: table;
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
        text-align: center;
        width: auto;
        text-transform: uppercase;
        font-weight: 400;
    }

    figure.snip1200 h2 span {
        font-weight: 800;
    }

    figure.snip1200 h2:before,
    figure.snip1200 h2:after {
        position: absolute;
        display: block;
        width: 1000%;
        height: 1px;
        content: '';
        background: white;
        top: 50%;
    }

    figure.snip1200 h2:before {
        left: -1000%;
    }

    figure.snip1200 h2:after {
        right: -1000%;
    }

    figure.snip1200 p {
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        padding: 0 20px;
        margin: 0;
        opacity: 0;
        line-height: 1.6em;
        font-size: 0.9em;
    }

    figure.snip1200 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }

    figure.snip1200:hover img,
    figure.snip1200.hover img {
        opacity: 0.25;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    figure.snip1200:hover figcaption,
    figure.snip1200.hover figcaption {
        top: 7%;
        bottom: 7%;
    }

    figure.snip1200:hover p,
    figure.snip1200.hover p {
        opacity: 1;
        -webkit-transition-delay: 0.35s;
        transition-delay: 0.35s;
    }
</style>

{% endblock %}
{% block main %}

<main>
    {% if user.is_authenticated %}
    {% else %}
    <script>alert("로그인 후 서비스를 이용하실 수 있습니다");</script>
    {% endif %}
    <div class="container-fluid">
        <img src="{% static 'image/mbti.jpg' %}" id="mbti">
        <h4>멘티를 찾습니다</h4>
        <br>
        <div class="row">
            {% for post in posts.all %}
            <div class="col-3">
                <figure class="snip1200">
                    <img src="{% static 'image/loading_fail.jpg' %}" alt="">

                    <figcaption>
                        <p> {{post.summary}} </p>
                        <div class="heading">
                            <h2><span> {{post.title}} </span></h2>
                        </div>
                    </figcaption>
                    <a href="{% url 'contestPost' post.id %}"></a>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}